/* 
Challenge: 
Make the button look like Twitter's "Following" button!
(Except for the font)

Hints:
border color: #cfd9de
text color: #0f1419
Remember the font-weight!
*/
button {
    border: 1px solid #cfd9de;
    border-radius : 9999px;
    background-color: white;
    color: #0f1419;
    font-weight: 600;
    padding-top : 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;

}