.main {
    margin-top: 100px;
}

/* Challenge - part 2: 
Replace the element selectors with class selectors */
.spaced1 {
    display: block;
    width: 300px;
}

.spaced2 input {
    display: block;
    width: 400px;
}
