/* 
Challenge:
Re-design the cookie widget!
PS: Make sure you change ALL of the listed CSS properties.
*/

body {
    background: blue;     /* red, blue, yellow, etc */
    color: yellowgreen;             /* red, blue, yellow, etc */
    font-size: 200px;        /* 0px - 100px and beyond */
    font-weight: bold;   /* lighter, normal, bold  */
    text-align: left;      /* left, center or right  */ 
    margin-top: 500px;        /* From 0px and upwards   */
}





