body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #404040;
    margin: 0;
}

/* =================
    Typography 
   ================= */

h1 {
    font-size: 2.5rem;
    font-weight: 400;
    text-shadow: 0 2px #816fca;
}

h2 {
    font-size: 2.25rem;
    margin: 0.167em 0;
}

p {
    font-size: 1.125rem;
    line-height: 1.35;
}

/* 
  Challenge: 
    - Set .beta-text and .subheading to appear in all-uppercase
*/

.beta-text { 
    font-weight: 900;
}

.subheading {
    color: #575757;
    font-weight: 900;
    margin-bottom: 0.5em;
}

/* =================
    Flex containers
   ================= */

.intro,
.main-content {
    display: flex;
    flex-direction: column;    
}

/* =================
    Intro
   ================= */

.intro { 
    justify-content: center;
    min-height: 250px;
    text-align: center;
    color: #fff;
    background-color: #9480e4;
}

/* ====================
    Main content
   ==================== */
   
.main-content {
    align-items: center;
    padding-top: 2.5em;
    padding-left: 2em;
    padding-right: 2em;
}

.img-main {
    width: 120px;
    border-radius: 50%;
}

/* =================
    Form
   ================= */
   

/* =================
    Media queries 
   ================= */