.card {
    color: #222222;
    background: lightgray;
    width: 300px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    padding-top: 200px;
    padding-right: 200px;
    
    /*
    Challenge:
    Add padding to make our card look like
    the provided design */
}
